@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p,
label,
h1,
h2,
h3,
span,
figcaption,
figure {
  margin: 0 !important;
}

button:focus {
  outline: none;
}

body {
  position: relative;
}

/* ---------------------------------- header styles */
.headerBlock {
  padding: 20px;
  background: none;
  position: fixed;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #efefef99;
  width: 100%;
  height: 56px;
  padding: 0 20px;
}
.headerButton a {
  background-color: #5b7687;
  padding: 8px 30px;
  border-radius: 8px;
  color: #fffef8;
}
header a {
  text-decoration: none;
}

.mainLogo img {
  display: block;
  width: 124px;
}
.headerMenu a {
  text-decoration: none;
  color: #3e546b;
}
.headerMenu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.upHeader a {
  text-decoration: none;
  color: #3e546b;
  font-size: 20px;
}
.upHeader img {
  width: 32px;
}
/* ------------------------- main section styles  */

.main {
  background: url("../images/mainBack.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  color: #78767c;
}

.application {
  background: #fffef8;
  padding: 50px 0;
}
.application__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.application__offer {
  background: url(../images/berge.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
  border-radius: 10px;
}

.application__accent {
  background: #5e8c7b;
  padding: 5px;
}

.application__title {
  font-size: 37px;
  text-transform: uppercase;
}

.application__details {
  padding: 80px;
  border: 1px solid #4f7b6b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.application__advantage {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #315a51;
  font-size: 18px;
}
.application__advantages {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.application__button {
  border: none;
  background: #4f7b6b;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 90%;
}

.answer {
  background: #fffef8;
  padding: 50px 0;
}

.answer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #315a51;
  font-size: 18px;
  font-weight: 600;
}

.answer__questions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.answer__item {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-bottom: 1px solid #5e8c7b;
  cursor: pointer;
}

.answer__item:nth-of-type(1) {
  border-top: 1px solid #5e8c7b;
}

.answer__question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer__question-toggle {
  border: none;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  transition: 0.5s;
}

.answer__question-toggle:hover {
  background: rgb(223, 222, 222);
}

.answer__question-toggle-active {
  transform: rotate(45deg);
}

.answer__answer-text {
  display: block;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 0px;
  padding-top: 0;
  overflow: hidden;
  transition: 1s;
}

.answer__item:nth-of-type(3) .answer__answer-text_hidden,.answer__item:nth-of-type(4) .answer__answer-text_hidden{
  max-height: 300px;
}

.answer__answer-text_hidden {
  max-height: 130px;
  padding-top: 30px;
}

.answer__answer-text-list {
  padding-left: 50px;
}
.answer__answer-text a {
  color: red;
}

.why-we__header,
.team__header {
  display: flex;
  flex-direction: column;
  background: none;
  gap: 20px;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
}
.why-we__title {
  font-size: 46px;
}
.why-we__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.why-we__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #5e8c7b;
  color: #4f7b6b;
  align-items: flex-start;
  justify-content: space-between;
}
.why-we__menu,
.team__menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.why-we__item-title {
  text-align: end;
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 20px;
}
.why-we__item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.why-we__item-aside {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}
.why-we__item-heading {
  font-size: 16px;
}
.why-we__item-number {
  background: #4f7b6b;
  padding: 0 8px;
  color: #fffef8;
  border: none;
  border-radius: 5px;
}
.why-we__item-description {
  font-size: 14px;
  font-weight: 400;
}

.why-we__item:nth-of-type(1) {
  color: #fffef8;
  background: #4f7b6b;
}
.why-we__item:nth-of-type(1) .why-we__item-number {
  background: #fffef8;
  color: #4f7b6b;
}

.why-we,
.team {
  background: #fffef8;
  padding: 50px 0;
  color: #315a51;
}

.team__main {
  display: flex;
}
.team-member {
  border-radius: 10px;
}

.team__main{
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.philosophien-main{
  display: grid;
  grid-template-columns: 1.5fr 1fr ;
  align-items: center;
  gap: 50px;
}
.philosophien-main__desc{
  font-size: 16px;
  color: #315A51;
}
.philosophien-main__img{
  width: 100%;
}
.philosophien-main__desc li{
  list-style: none;
  font-style: italic;
}
.team__subtitle{
  font-weight: 300;
}

.reise-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.reise__nav{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 50%;
}
.reise__nav-item{
  border: none;
  background: none;
  border-bottom: 1px solid #EEEEEE;
  color: #315A51;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: .6s;
}
.reise__nav-item:hover{
  border-bottom: 1px solid #315A51;
  color: #315A51;
  font-weight: 500;
}

.reise__content{
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 20px;
}

.reise__content-item{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #315A51;
  border-radius: 10px;
}

.info{
  padding: 50px 0;
  background: #fffef8;
  color: #315a51;
  font-size: 18px;
  font-weight: 600;
}

.info__menu {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  padding: 30px 60px;
  align-items: center;
  border: 1px solid #5e8c7b; 
  border-radius: 10px;
}

.info__image{
  width: 100%;
  height: 100%;
}

.info__details{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 50px;
}
.info__text-content{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.info__description{
  font-size: 14px;
  font-weight: 400;
}
.info__title{
  font-size: 30px;
  font-weight: 600;
}